<a href="https://colab.research.google.com/github/na2027/CE888/blob/main/Copy_of_movies_Recommender_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_movie = pd.read_excel('/content/movies_latent_factors (1).xlsx')
df_movie.head()

   Movie ID  ...  Factor15
0        11  ... -0.248806
1        12  ...  1.274993
2        13  ... -0.419092
3        14  ... -0.681191
4        22  ... -2.292566

[5 rows x 17 columns]

In [ ]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Movie ID  100 non-null    int64
 1   Title     100 non-null    object
 2   Factor1   100 non-null    float64
 3   Factor2   100 non-null    float64
 4   Factor3   100 non-null    float64
 5   Factor4   100 non-null    float64
 6   Factor5   100 non-null    float64
 7   Factor6   100 non-null    float64
 8   Factor7   100 non-null    float64
 9   Factor8   100 non-null    float64
 10  Factor9   100 non-null    float64
 11  Factor10  100 non-null    float64
 12  Factor11  100 non-null    float64
 13  Factor12  100 non-null    float64
 14  Factor13  100 non-null    float64
 15  Factor14  100 non-null    float64
 16  Factor15  100 non-null    float64
dtypes: float64(15), int64(1), object(1)
memory usage: 13.4+ KB

In [ ]:
df_movie = df_movie.rename(columns={"Movie ID": "Movie_ID"})

In [ ]:
df_movie.loc[df_movie.Movie_ID == 36657, 'Factor3']

97    0.668953
Name: Factor3, dtype: float64

In [ ]:
df_movie.nlargest(5, ['Factor9'])

    Movie_ID  ...  Factor15
47       597  ...  0.456127
34       280  ... -0.501914
35       329  ...  1.466918
14       120  ... -0.276280
9         85  ... -0.197686

[5 rows x 17 columns]

In [ ]:
arr = df_movie.values

In [ ]:
df_users = pd.read_excel('/content/movies_latent_factors (1).xlsx', 'Users')
df_users.head()

   User   Factor1   Factor2   Factor3  ...  Factor12  Factor13  Factor14  Factor15
0  4768 -0.204024  0.161079 -0.090447  ...  0.355404  0.007108 -0.118663 -0.039125
1   156 -0.189652 -0.178979 -0.091490  ... -0.048606  0.045916  0.113671  0.179873
2  5323 -0.115308 -0.090886 -0.053129  ... -0.019460  0.108372  0.054471 -0.109552
3   174 -0.227462 -0.272532 -0.017231  ... -0.082396  0.036767 -0.165438  0.050692
4  4529 -0.014616 -0.102218 -0.107935  ... -0.132836 -0.039897  0.129063  0.102669

[5 rows x 16 columns]

In [ ]:
col_names = ['JokeCount'] + [f'Joke{num + 1}' for num in range(100)]
df_jokes = pd.read_excel('/content/jester-data-1.xls',header=None, names=col_names)
df_jokes.head()

   JokeCount  Joke1  Joke2  Joke3  ...  Joke97  Joke98  Joke99  Joke100
0         74  -7.82   8.79  -9.66  ...   -5.63   99.00   99.00    99.00
1        100   4.08  -0.29   6.36  ...    3.06    0.34   -4.32     1.07
2         49  99.00  99.00  99.00  ...   99.00   99.00   99.00    99.00
3         48  99.00   8.35  99.00  ...   99.00   99.00   99.00    99.00
4         91   8.50   4.61  -4.17  ...    3.11    6.55    1.80     1.60

[5 rows x 101 columns]

In [ ]:
#Quiz questions
df_movie[df_movie["Movie_ID"] == 329]["Factor8"]

35    0.541354
Name: Factor8, dtype: float64

In [ ]:
df_movie[df_movie["Factor2"] <= df_movie["Factor2"].min()]

    Movie_ID  ...  Factor15
16       122  ... -0.314937

[1 rows x 17 columns]

In [ ]:
user_row = df_users[df_users["User"] == 768].values[:,1:]
user_row = user_row.reshape((len(user_row[0]),))
movie_row = df_movie[df_movie["Movie_ID"] == 607].values[:,2:]
movie_row = movie_row.reshape((len(movie_row[0]),))
np.dot(user_row, movie_row)

-0.025508850322036994

In [ ]:
user_row = df_users[df_users["User"] == 3519].values[:,1:]
user_row = user_row.reshape((len(user_row[0]),))
movie_row = df_movie[df_movie["Movie_ID"] == 641].values[:,2:]
movie_row = movie_row.reshape((len(movie_row[0]),))
np.dot(user_row, movie_row)

0.0413849674399108

In [ ]:
user_row = df_users[df_users["User"] == 3806].values[:,1:]
user_row = user_row.reshape((len(user_row[0]),))

ratings = []

for index, row in df_movie.iterrows():
  features = row.values[2:]
  id = row.values[0]

  result = np.dot(features, user_row)
  ratings.append((id, result))

ratings.sort(key=lambda x: x[1], reverse=True)
print(ratings[:2])

[(603, 0.8928390521025773), (854, 0.8721072169538618)]

In [ ]:
user_row = df_users[df_users["User"] == 5323].values[:,1:]
user_row = user_row.reshape((len(user_row[0]),))

ratings = []

for index, row in df_movie.iterrows():
  features = row.values[2:]
  title = row.values[1]

  result = np.dot(features, user_row)
  ratings.append((title, result))

ratings.sort(key=lambda x: x[1], reverse=True)
print(ratings[:2])

[('The Dark Knight (2008)', 0.7598710779671795), ('The Godfather (1972)', 0.6947144886387391)]